body{
    font-family: 'Nunito';
}

h1{
    color:gray;
    margin: 2px 0px 18px 6px;
}
h2{
    font-size: 18px;
    padding: 10px 20px;
    color: #575ed8;
}

p{
    color:white;
}

span{
    color: rgb(226, 225, 225);
}

#username{
max-width: 200px;
margin: 30px 20vw 30px 5vw;
background-color: rgba(0, 0, 0, 0.5);
border-radius: 8px;
color: white;
}

#changeMonitor{
    margin:3px 0px 18px 6px;
    color:gray;
}

#travelpod-chat{
    background-image: url('/chat-bg.jpg');
    background-size: 100vw 100vh;
}

#chatbox{
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 800px;
    margin: 30px 5vw;
    border: 1px solid #ddd;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    border-radius: 8px;
}

#chat-window{
    height: 400px;
    overflow: auto;
    background-color:transparent;
}

#output p{
    padding: 4px 0px;
    margin: 0 10px;
    color: #555;
}

#output strong{
    color:orange;
}

label{
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}

input{
    padding: 10px 20px;
    box-sizing: border-box;
    background: #eee;
    border: 0;
    display: block;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    font-family: Nunito;
    font-size: 16px;
}

button{
    background: gray;
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 8px 8px;
}